<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    date of the day: <%= date %><br>
    username: <%= name %><br>
    base salary: <%= base_salary %><br>
    total abscences:  <%= total_abscence %>
    total bonnus:  <%= total_bonus %>
    final month salary<%= final_salary %>
</body>
</html>